<!doctype html>
<html lang="en">
<head>
  <%- include('includes/headerStuff'); -%>
</head>
<body>
  <%- include('includes/pageHeader'); -%>
  
  <!-- Main Content Goes Here -->
  <div id="main-container" class="flex flex-col justify-center my-10 mx-48 max-w-3xl min-w-[50%] text-center">
    <h1 class="font-bold text-2xl py-3 text-left"><%= title %></h1>
    <p class="py-2 text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p class="py-2 text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est la.</p>
  </div>
  
  
<%- include('includes/pageFooter'); -%>
<%- include('includes/footerStuff'); -%>
</body>
</html>